@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
// @include foundation-xy-grid-classes;
// @include foundation-grid;
@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;



body, html{
    height: 100%;
    font-family: 'Roboto';
}


//Moderna fonts
@font-face {
    font-family: 'Moderna';
    src: url('../fonts/Moderna.eot');
    src: url('../fonts/Moderna.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Moderna.woff2') format('woff2'),
        url('../fonts/Moderna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//Roboto fonts
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}




.pro-nav{
    &__logo{
        max-width: initial;
        display: block;
        margin: auto;
    }


    &__menu-item{
        font-family: 'Roboto',  sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #6d7780;

        
    }

    &__menu-item:hover{
       color: #0096b0;
        
    }

    &__menu-item:focus{
        color: #0096b0;
         
    }
}


.home-section-padding{
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
}


.home-section-title{
    padding: rem-calc(10)  rem-calc(20);
    font-size: rem-calc(30);
    font-weight: 500;
    text-align: center;
}

.home-values-section{
  
    &__image{
        margin: auto;
        display: block;

    }

    &__desc{
        margin-top: rem-calc(10);
        padding: rem-calc(10) rem-calc(5);
        text-align: center;
        color: black;
        font-weight: 500;
      

    }

}


.home-banner-section{

    background-color: #f9f9f9;

    &__title{
        font-family: 'Moderna';
        font-size: rem-calc(45);
    }

    &__slider{

        &__con{
           text-align: center;
        }
    }

    &__image{
        max-width: none;
        display: block;
        margin: auto;
    }

}


.home-exams-section{
    position: relative;

    &__title{
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: rem-calc(10)  rem-calc(20);
        font-weight: 500;
        z-index: 3;
    }


    &__image{
        cursor: pointer;
        width: 100%;
        background-repeat: no-repeat; 
        background-size: cover;
        filter: brightness(0.5);
        position: relative;

       &__text{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        margin: 0;
        font-size: rem-calc(30);
        z-index: 3;

       }
    }

    &__image:hover{
        filter: unset;
    }
}

.home-slider{

    &__button{
        cursor: pointer;
        font-size: rem-calc(50);
        background-color: transparent; 
        position: absolute;
        top:50%;
        z-index: 3;
       
    }
}


.home-posts-section{
    background-color: #0096b0;

    &__title{
        display: inline-block;
        background-color: white;
    }


    &__slider{
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);
        background-color: #57c7e2;
    }
 
    &__con{
        margin-left: rem-calc(20);
        margin-right: rem-calc(20);
        background-color: white;
        max-width: 100%;
        width: rem-calc(450);
        box-shadow: rem-calc(4) rem-calc(4) rem-calc(8) rgba(0,0,0,0.3);
    }


    &__image{
        width: 100%;
        height: rem-calc(250);
        background-repeat: no-repeat; 
        background-size: cover;
     
    }


    &__text{
        padding: rem-calc(10) rem-calc(15);
        height: rem-calc(220) !important;

        &__title{
            padding-top: rem-calc(20);
            padding-bottom: rem-calc(5);
            font-size: rem-calc(20);
            font-weight: 500;
        }

       
    }


    &__btn{
        cursor: pointer;
        background-color: transparent; 
        position: absolute;
        top:50%;
        z-index: 3;
    
    }
}


.home-clients-section{
  
    &__image{
        max-width: 100%;
        width: 100%;
        height: rem-calc(200);
        min-height: rem-calc(200) !important;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.pro-footer{

    background-color: #000321;


    &__left{
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(50);
    }

    &__menu-item-title{
        color: #292e48 !important;
    }

    &__menu-item{
        color: white;
    }

  
 
 

    &__bar{
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
        background-color: #292e48;

        &__menu-item{
            font-size: rem-calc(14);  
            color: white !important; 
        }
    }


    
}




//Post page

.post-section{
    min-height: 100%;
    height: 100%;
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(50);

    &__row{
        width: rem-calc(1000);
        // border: rem-calc(0.1) gray solid;
    
    }

    &__wallpaper{
        height: rem-calc(150);
        background-color: #57c7e2;
        
    }




    &__image{
        width: 100%;
        height: rem-calc(250);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: rem-calc(5);
        margin-bottom: rem-calc(5);
    }

    &__title{
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(20);
    }

    
    &__date{
        margin-top: rem-calc(10);
        margin-bottom: rem-calc(10);
        font-style: italic;
    }

    
    &__text{
        margin-top: rem-calc(10);
        margin-bottom: rem-calc(10);
    }
}



@media only screen and (min-width: 0px) {


    .pro-nav{
        background-color: #f7f7f7;

        &__menu{
            display: block;
            background-color: #f7f7f7;

            &__right{
               justify-content: flex-start;
            }
        }
    }

    
    .home-slider{

        &__button{
            font-size: rem-calc(25);

            &--white--gray{
                color: #4c4c4c; 
            }

            &--gray{
                color: #4c4c4c;
            }


            &__prev{
                left: .9375rem;   
            }

            &__next{
                right: .9375rem;   
            }
        }
   
    }

    
}



@media only screen and (max-width: 640px) {


    .home-section-padding{
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(20);
    } 
    
    .home-section-title{
        font-size: rem-calc(20);
    }
   

   

    .home-banner-section{
        &__image{
            max-width: 100%;
        }
    }

    .home-exams-section{
     
        &__image{
            height: rem-calc(150);

            &__text{
                font-size: rem-calc(20);
            }

        }
    }


    .home-clients-section{
              
        &__image{
            min-height: rem-calc(100) !important;
            height: rem-calc(100) !important;
        }
    }


    .home-posts-section{

        &__con{
            max-width: 100%;
            width: rem-calc(250);
        }

        &__text{
            padding: rem-calc(10) rem-calc(15);
            height: rem-calc(220);
    
            &__title{
                padding-top: rem-calc(10);
                padding-bottom: rem-calc(2.5);
                font-size: rem-calc(16);
            }
    
            &__desc{
                font-size: rem-calc(14);
            }
        }
    
    
        &__image{
            width: 100%;
            height: rem-calc(150);
         
        }


      


    }

    .pro-padding{
        padding-left: 1%;
        padding-right: 1%;
    }
    
}


@media only screen and (min-width: 640px) {



    .home-slider{

        &__button{
            font-size: rem-calc(50);
        }
    }

    .home-exams-section{

        &__image{
            height: rem-calc(250);

        }
    }


    .pro-padding{
        padding-left: 2%;
        padding-right: 2%;
    }
}


@media only screen and (min-width: 1024px) {



    .pro-nav{
        background-color: white;
        &__menu{
            display: flex;
            background-color: white;

            &__right{
                justify-content: flex-end;
            }
        }
    }

    .pro-padding{
        padding-left: 5%;
        padding-right: 5%;
    }
    
}


@media only screen and (min-width: 1220px) {


    .home-exams-section{

        &__image{
            height: rem-calc(350);
        }
    }


   

  

    .pro-padding{
        padding-left: 8%;
        padding-right: 8%;
    }
    
}

@media only screen and (min-width: 1440px) {

    .pro-padding{
        padding-left: 15%;
        padding-right: 15%;
    }



    .home-slider{

        &__button{
                   
            &--white--gray{
                color: white; 
            }

            &--gray{
                color: #4c4c4c;
            }


            &__prev{
                left: rem-calc(-50);   
            }

            &__next{
                right: rem-calc(-50);   
            }

        }
    
    }
  


}


